body {
  background-color: #4690b2;
  color: #000;
}

#video-wrapper {
  width: 784px;
  height: 441px; /* 16:9 ratio for 784px width */
  position: relative;
  background-color: #cecece;
}

#video-wrapper video {
  width: inherit;
  height: inherit;
}

button {
  cursor: pointer;
}
