body {
  background-color: #4690b2;
  color: #000;
}

#video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
  background-color: #cecece;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
}
